
.body {
  /* Display */
  color: black;
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;

  /* Size */
  height: 500px;
  width: 300px;

  /* Position */
  // Bottom right corner
  position: absolute;
  bottom: 0;
  right: 0;
}
